# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Logs
# -----------------------------
*.log
monitoring_log.json

# -----------------------------
# MLflow
# -----------------------------
mlruns/
mlartifacts/

# -----------------------------
# Model files (optional)
# -----------------------------
# Uncomment if you don’t want to push model
# model.pkl

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Docker
# -----------------------------
#Dockerfile
.dockerignore

# -----------------------------
# Git
# -----------------------------
.git/